@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900');
	@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Inter:wght@400;500;700&family=Merriweather:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root{
		/* Colors */
		--gray-0: #f9f9f9;
		--gray-05: #f6f6f6;
		--gray-1: #eee;
		--gray-2: #e6e6e6;
		--gray-3: #ddd;
		--gray-4: #bbb;
		--gray-5: #999;
		--gray-6: #666;
		--gray-65: #555;
		--gray-7: #2c2c2c;
		--gray-8: #252525;
		--gray-9: #1f1f1f;
		--gray-10: #181818;

		--green: #14ae73;
		--green-1: #95cd7f;
		--green-2: #73b18a;
		--green-3: #4d8994;
		--green-4: #30619d;
		--green-5: #30379d;

		--red: #f34646;
		--red-1: #fdd94a;
		--red-2: #e0a944;
		--red-3: #d37d36;
		--red-4: #cd583c;
		--red-5: #ab2e3f;

		--blue: #07a7e6;
		--blue-1: #70bdee;
		--blue-2: #618be1;
		--blue-3: #5b5ed5;
		--blue-4: #623ac6;
		--blue-5: #58119f;

		--rainbow-1: #ff67f7;
		--rainbow-2: #936df9;
		--rainbow-3: #59abf7;
		--rainbow-4: #5eddac;
		--rainbow-5: #f6cd5d;

		--orange: #ff7e22;
		--yellow: #fca62a;
		--pink: #f57ad0;
		--purple: #673ece;
		--indigo: #5a43f1;
		--indigo-dark: #4509cf;
		--indigo-light: #969bf6;
		--indigo-muted: #f1f2fd;

	  /* Font family */
		--font-family-base: 'Noto Sans SC','Inter', -apple-system, BlinkMacSystemFont,
		'Helvetica Neue', Arial, sans-serif;
		--font-family-monospace: 'IBM Plex Mono', Menlo, monospace;
		--font-family-heading: 'Merriweather', -apple-system, BlinkMacSystemFont,
		'Helvetica Neue', Arial, sans-serif;

		/* Font color */
		--font-color-base: var(--gray-7);
		--font-color-muted: var(--gray-6);
		--font-color-heading: var(--gray-8);
		--font-color-heading3: var(--gray-7);
		--font-color-bright: var(--gray-9);
		--font-color-hero-heading: var(--gray-0);

		/*link*/
		--link: #4371f1;
		--link-hover-color: #f1f2fd;

		/* Borders */
		--border-color: var(--gray-3);
		--border-color-hover: var(--gray-6);
		--border-radius: 6px;

		/* Elements */
		--background-color: #fff;
		--card-background-color: var(--gray-0);
		--button-background-color: var(--gray-05);
		--marker: var(--pink);
		--link: var(--indigo);
		--link-hover-color: var(--indigo-muted);
		--navbar: var(--gray-1);
		--navbar-border: var(--gray-2);
		--navbar-color: var(--gray-8);
		--navbar-color-hover: var(--gray-9);
		--year: var(--green);
		--star: var(--yellow);
		--post-time-color: var(--gray-6);
		--card-time-color: var(--gray-5);
		--project-time-color: var(--font-color-muted);
		--highlight-color: var(--green);
		--blockquote-background: var(--indigo-muted);
		--file-background: #eee;
		--inline-code-background-color: var(--gray-0);
		--theme-button-background: var(--gray-1);
		--theme-button-background-hover: var(--gray-2);
		--theme-button-border: var(--gray-3);
		--theme-button-border-hover: var(--gray-5);
		--theme-button-color: var(--gray-7);
		--theme-button-color-hover: var(--gray-9);
		--category-link: #dd4eb2;
		--scrollbar-color: var(--gray-3);
		--scrollbar-track: var(--gray-4);
}
	*,
	*::before,
	*::after {
	  box-sizing: border-box;
	}

	html {
	  font-family: var(--font-family-base);
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;

	  line-height: 1.6;
	  font-size: 16px;
	  font-weight: normal;
	  font-kerning: normal;
	}

	body {
	  margin: 0;
	  padding: 0;
	  /*background: var(--background-color);*/
	}

	a {
	  color: var(--link);
	  text-decoration: none;
	}
/*	a:hover{
		color: var(--link-hover-color); 
	}*/
}

