/* site main index  == /index */

/* 
index
  L herox(2)
  E latestposts
    L postlist (->)
      L postitem
  E featuredposts
    L postcard
  E projects
    L projectcard 
    */

/** index ********************************/
.index {
   font-family: var(--font-family-base);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   line-height: 1.6;
   font-size: 16px;
   font-weight: 300;
   font-kerning: normal;
 }

 a:hover h3 {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

 /** 1 herox ********************************/
 .herox {
    /* padding: 1rem 0 0; */
    position: relative;
    overflow: hidden;
  }

.headline {
    /* font-size: 2.4rem; */
    line-height: 1.1;
    font-weight: 700;
    color: var(--font-color-heading);
  }

 .description > p {
    @apply pb-3;
  }

  /* Blockquote */

.description > blockquote {
    margin: 1rem 0;
    border-left: 6px solid #000;
    margin-left: 0;
    padding: 1.5rem;
    /* background: var(--blockquote-background);
    border-radius: var(--border-radius); */
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 500;
  }
  
/** 2 LatestPosts ********************************/
h2.heading {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;  
  align-items: center;
  justify-content: space-between;
  border: 0;
  padding: 0;
}

h2.heading .title {
  font-size: 1.7rem;
  margin-bottom: 0;
  font-family: var(--font-family-base);
  font-weight: 700;
}

@media screen and (min-width: 700px) {
  h2.heading {
    gap: 2rem;
  }

  h2.heading .title {
    font-size: 2rem;
  }
}

/******* 3 featured post **/

/******* 4 project list**/

div.link a{
  @apply p-2 mr-1 font-mono text-sm border rounded-[5px] text-gray-800 hover:border-black;
}