/* Post item */

a.post {
    display: flex;
    /* gap: 1rem; */
    padding: 0.4rem 0;
    background: transparent;
    text-decoration: none;
    border-bottom: 1px solid var(--border-color);
  }
  
  a.post:last-of-type {
    border: none;
  }

  
  a.post h3 {
    margin: 0;
    font-size: 1rem;
    color: var(--font-color-heading);
    font-weight: 100;
    font-family: var(--font-family-base);
    line-height: 1.3;
    @apply font-normal;
  }
  .postlist .year {
    @apply mt-5 text-3xl font-semibold;
  }
  
  a.post time {
    /* display: none; */
    font-family: var(--font-family-monospace);
    color: var(--post-time-color);
    font-size: 0.8rem;
    font-weight: 500;
    white-space: nowrap;
    margin-left: auto;
    
  }
  
  @media screen and (min-width: 700px) {
    .postlist.newspaper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
    }
  
    /* a.post time {
      display: block;
    } */
  
    a.post h3 {
      font-size: 1.1rem;
      @apply font-medium;
    }
  }